<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Dept">

  <parameter name="URL" value="facebook.com"/> <!-- globle level -->
  
  <test thread-count="5" name="Personal Loan">
    <parameter name="URL" value="personalloan.com"/>
    <classes>
      <class name="test.Day1"/>
     
      <class name="test.Day2"> 
      <methods>
      	<include name="newTest1"/>
      </methods>
      </class>
      
    </classes>
    
  </test> <!-- Test -->
  
  <test name="Car Loan">
  
  	<classes>
  		
  		<class name="test.Day1">
  			<methods>
  				<exclude name="SecondTest" />
  			</methods>
  		</class>
  		
  		<class name="test.Day2">
  			<methods>
  				<exclude name="new.*" />
  			</methods>
  		</class>
  	
  	</classes>
  
  </test>
</suite> <!-- Suite -->
